#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#quote-box {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

#author-text {
  text-align: right;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex img {
  display: block;
}

#quote-img {
  display: inline-block;
}

.fade {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.fade.hidden {
  opacity: 0;
}

body {
  transition: background-color 1s ease; /* smooth color change */
}
